{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^react(.*)$",
    "^gatsby(.*)$",
    "^@emotion(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^app(.*)$",
    "^providers(.*)$",
    "^components(.*)$",
    "^hooks(.*)$",
    "^types(.*)$",
    "^styles(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
